@import url("https://fonts.google.com/specimen/Nunito+Sans");

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: hsl(0, 0%, 98%);
    font-family: 'Nunito Sans', sans-serif;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(0, 0%, 100%);
   height: 4rem;
   width: 100%;
   padding: 3rem 2rem;
   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05); 
   position: fixed;
   z-index: 77;
}


.container{
    padding: 7rem 2rem;
}

.btn{
  width: 8rem;
  padding: 0.5rem;
  height: 3rem;
  margin: 0.5rem;
  border: none;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background: hsl(0, 0%, 100%);
  cursor: pointer;
}

.search{
    width: 100%;
    height: 5rem;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
}

.search input {
    height: 5rem;
    width: 100%;
    padding: 0 0 0 5rem;
    border: none;
    border-radius: 0.5rem;
    outline: none;
}

.search i {
    position: absolute;
    margin-left: 2rem;
    font-size: 2rem;
    color: hsl(0, 0%, 52%);
}

 
 .countries_detail{
      padding: 1.5rem 0;
 }

 .countrie{
    background-color: hsl(0, 0%, 100%);
    margin-bottom: 3rem;
    border-radius: 1rem;
}

.countrie_img{
    margin-bottom: -0.5rem;
}

.countrie_img img{
    width: 100%;
    overflow: hidden;
    height: auto;
    border-top-left-radius: 0.9rem;
    border-top-right-radius: 0.9rem;
 }

 .contrieInfo{
    padding: 2rem;
    overflow: hidden;
 }

 .name{
     margin-bottom: 1rem;
     line-height: 1.6;
     letter-spacing: 0.2rem;
     font-size: 1.5rem;
 }

 .contrieInfo p{
    margin-bottom: 0.5rem;
    line-height: 1.5;
    letter-spacing: 0.2rem;
    font-size: 1.3rem;
 }

 .contain{
  padding: 9rem 2rem;
 }

 .otherDetails {
        margin-top: 2rem;
    }

    .otherDetails p {
        padding-bottom: 0.5rem;
        font-size: 1.3rem;
        line-height: 1.5;
        font-weight: 300;
    }

  .detailInfo p {
    padding-bottom: 0.5rem;
    font-size: 1.3rem;
    line-height: 1.5;
}

span{
  font-size: 1.5rem;
}
 
.back {
  width: 8rem;
  padding: 0.5rem;
  height: 3rem;
  margin: 0 0 2rem;
  border: none;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background: hsl(0, 0%, 100%);
  cursor: pointer;
}

.notfound{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 74vh;
  font-size: 1.5rem;
}

.img{
  width: 100%;
  height: 100%;
}

img{
  width: 100%;
}

.detailInfo h2 {
  font-size: 2.5rem;
  padding: 2rem 0;
}

.countriesInfoSection {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.borderCountries {
  padding: 2rem 0;
}

.borderCountries h4 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.bc {
  width: 9rem;
  font-size: 1.4rem;
  padding: .8rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

 @media only screen and (min-width:620px) {
    .container{
        padding: 7rem 5rem;
    }
     .search_filter{
        display: flex;
        align-items: center;
        justify-content: space-between;
     }

     .search{
        width: 35%;
     }

  .notfound{
    font-size: 3rem;
  }

     .contain{
      padding: 9rem 7rem 0;
     }

     .countries_detail{
        display: grid;
        grid-template-columns: 24% 23% 23% 23%;
        grid-gap: 0 3rem;
     }

     .detailInfo h2 {
      font-size: 2rem;
      padding: 0 0 1.4rem;
      letter-spacing: 0.2rem;
  }

.modalDevisBody {
  margin: 5rem;
}
     .borderCountries {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 2rem 0 0;
  }

  .borderCountries h4 {
    font-size: 2rem;
    margin-right: 1rem;
    padding: 0;
}
     .backButton {
      display: flex;
      align-items: center;
      flex-direction: row;
  }
.twoBox{
   margin: 0 6rem;
}
     .img{
       width: 45%;
       height: 100%;
     }

     img{
       width: 100%;
     }

     .detailInfo p {
      padding-bottom: 0.5rem;
      font-size: 1.5rem;
      line-height: 1.5;
  }
 }